data_sync_orders.json
{
  "name": "data_sync_orders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "377e88ee-c002-4082-8296-ccc404457de4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const orders = [];\nconst regions = ['Ha Noi', 'Da Nang', 'Ho Chi Minh'];\nconst names = ['Nguyen Van A', 'Tran Thi B', 'Le Van C'];\n\nconst count = Math.floor(Math.random() * 3) + 1;\n\nfor (let i = 0; i < count; i++) {\n  orders.push({\n    order_code: 'ORD-' + Date.now() + '-' + i,\n    customer_name: names[Math.floor(Math.random() * names.length)],\n    total_amount: Math.floor(Math.random() * 500000) + 100000,\n    status: 'completed',\n    region: regions[Math.floor(Math.random() * regions.length)],\n    created_at: new Date().toISOString(),\n  });\n}\n\nreturn orders.map((o) => ({ json: o }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 0],
      "id": "f548ac0e-7090-456e-be5b-66f30072db7e",
      "name": "Generate Demo Orders"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:5000/api/automation/orders",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { order_code: $json.order_code, customer_name: $json.customer_name, total_amount: $json.total_amount, status: $json.status, region: $json.region, created_at: $json.created_at } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [416, 0],
      "id": "e975de3a-5056-4ce5-a476-eba7559af8a0",
      "name": "Create Order Via Backend"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Generate Demo Orders", "type": "main", "index": 0 }]]
    },
    "Generate Demo Orders": {
      "main": [[{ "node": "Create Order Via Backend", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ef60a5b7-8209-4f74-b9aa-1b578b4c1343",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a6bfee5e350f964abf885434ff2da90f66666f3f239705b6ef882b3f56712fe"
  },
  "id": "TH8le1BoY7DsP2Ys",
  "tags": []
}
