revenue_alert_monitoring(1).json
{
  "name": "revenue_alert_monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "17a5b286-3010-43aa-ba7a-f2ca37bd9544",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:5000/api/automation/revenue/comparison",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, 0],
      "id": "5a8e25fd-6a71-4750-b9c0-ddd5e2255a52",
      "name": "Get Revenue Comparison"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\nfunction unwrap(payload) {\n  if (!payload || typeof payload !== 'object') return null;\n  if (payload.current_orders !== undefined || payload.current_revenue !== undefined) {\n    return payload;\n  }\n  if (payload.body !== undefined) {\n    if (typeof payload.body === 'string') {\n      try { return JSON.parse(payload.body); } catch { return null; }\n    }\n    return payload.body;\n  }\n  if (payload.data && typeof payload.data === 'object') return payload.data;\n  return null;\n}\n\nconst stats = unwrap(raw);\nif (!stats) {\n  throw new Error('Không đọc được thống kê doanh thu từ backend (port 5000)');\n}\n\nconst currentOrders = Number(stats.current_orders ?? 0);\nconst currentRevenue = Number(stats.current_revenue ?? 0);\nconst currentCancelled = Number(stats.current_cancelled ?? 0);\nconst previousOrders = Number(stats.previous_orders ?? 0);\nconst previousRevenue = Number(stats.previous_revenue ?? 0);\n\nconst orderDropRate = previousOrders > 0\n  ? ((previousOrders - currentOrders) / previousOrders) * 100\n  : 0;\n\nconst revenueDropRate = previousRevenue > 0\n  ? ((previousRevenue - currentRevenue) / previousRevenue) * 100\n  : 0;\n\nconst cancelRate = currentOrders > 0\n  ? (currentCancelled / currentOrders) * 100\n  : 0;\n\nlet type = 'normal';\nlet severity = 'info';\nlet alert_level = 'normal';\nlet message = 'Hoạt động bán hàng bình thường';\n\nif (currentOrders === 0) {\n  type = 'low_order_rate';\n  severity = 'critical';\n  alert_level = 'critical';\n  message = `Không có đơn hàng trong ngày hôm nay. Doanh thu hiện tại: ${currentRevenue.toLocaleString('vi-VN')}đ`;\n} else if (orderDropRate >= 50) {\n  type = 'order_drop';\n  severity = 'warning';\n  alert_level = 'warning';\n  message = `Số đơn giảm ${orderDropRate.toFixed(1)}% so với hôm qua. Hôm nay: ${currentOrders} đơn, hôm qua: ${previousOrders} đơn`;\n} else if (revenueDropRate >= 50) {\n  type = 'low_revenue';\n  severity = 'warning';\n  alert_level = 'warning';\n  message = `Doanh thu giảm ${revenueDropRate.toFixed(1)}% so với hôm qua. Hôm nay: ${currentRevenue.toLocaleString('vi-VN')}đ, hôm qua: ${previousRevenue.toLocaleString('vi-VN')}đ`;\n} else if (cancelRate >= 30) {\n  type = 'high_cancel_rate';\n  severity = 'critical';\n  alert_level = 'critical';\n  message = `Tỷ lệ hủy đơn cao: ${cancelRate.toFixed(1)}%. Đơn hủy: ${currentCancelled}/${currentOrders}`;\n}\n\nreturn [{\n  type,\n  severity,\n  alert_level,\n  status: 'open',\n  message,\n  current_orders: currentOrders,\n  previous_orders: previousOrders,\n  current_revenue: currentRevenue,\n  previous_revenue: previousRevenue,\n  order_drop_rate: orderDropRate.toFixed(1),\n  revenue_drop_rate: revenueDropRate.toFixed(1),\n  cancel_rate: cancelRate.toFixed(1),\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 0],
      "id": "4082ba91-eed9-4e39-a3b3-a78fdcb9d6e2",
      "name": "Calculate Alert Level"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fde27085-a3be-48ad-a926-ba62a19abb5a",
              "leftValue": "={{ $json.alert_level }}",
              "rightValue": "normal",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [656, 0],
      "id": "bce1506f-470e-4e01-b36f-e5db76769d65",
      "name": "Alert Level != normal"
    },
    {
      "parameters": {
        "url": "={{ 'http://172.17.0.1:5000/api/automation/alerts/open?type=' + encodeURIComponent($('Calculate Alert Level').item.json.type) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [912, -16],
      "id": "5f400902-57e6-480c-8bb9-239f41c320c9",
      "name": "Check Existing Open Alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b2d9473-9654-47ff-b8ed-b31aaae4bd63",
              "leftValue": "={{ $json.id }}",
              "rightValue": {},
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1120, -192],
      "id": "20898b2f-6685-4fe7-99f6-bcb2228846d6",
      "name": "If"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://172.17.0.1:5000/api/automation/alerts/{{ $json.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: $('Calculate Alert Level').item.json.message, severity: $('Calculate Alert Level').item.json.severity } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1408, -208],
      "id": "ebc950b7-045b-475f-80ea-a213b4002d5b",
      "name": "Update Existing Alert"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:5000/api/automation/alerts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { type: $('Calculate Alert Level').item.json.type, message: $('Calculate Alert Level').item.json.message, severity: $('Calculate Alert Level').item.json.severity, status: 'open' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1424, 16],
      "id": "73c8fb1d-6ffe-42e6-a1fb-ee3fadd5a96c",
      "name": "Create New Alert"
    },
    {
      "parameters": {
        "fromEmail": "nhungnguyen.14082005@gmail.com",
        "toEmail": "nhungnth.23ite@vku.udn.vn",
        "subject": "[{{$('Calculate Alert Level').item.json.severity}}] Cảnh báo hệ thống",
        "html": "=Loại cảnh báo: {{ $('Calculate Alert Level').item.json.type }}\n\nNội dung:\n{{ $('Calculate Alert Level').item.json.message }}\n\nKPI:\n- Doanh thu hôm nay: {{ $('Calculate Alert Level').item.json.current_revenue }}\n- Doanh thu hôm qua: {{ $('Calculate Alert Level').item.json.previous_revenue }}\n- Số đơn hôm nay: {{ $('Calculate Alert Level').item.json.current_orders }}\n- Số đơn hôm qua: {{ $('Calculate Alert Level').item.json.previous_orders }}\n- Tỷ lệ giảm doanh thu: {{ $('Calculate Alert Level').item.json.revenue_drop_rate }}%",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1664, -112],
      "id": "f351a07e-1cc2-4943-8565-b3cf6debcfa3",
      "name": "Send an Email",
      "webhookId": "d34e0254-af25-4015-a63e-028317471381",
      "credentials": {
        "smtp": {
          "id": "1HNJyw2FZkrYcGxD",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:5000/api/automation/workflow-logs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { workflow_name: 'revenue_alert_monitoring', status: $('Calculate Alert Level').item.json.severity, message: $('Calculate Alert Level').item.json.message } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1872, -112],
      "id": "681474fe-6bd7-4428-91b6-fa469e236014",
      "name": "Insert Risk Log"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:5000/api/automation/workflow-logs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"workflow_name\": \"revenue_alert_monitoring\",\n  \"status\": \"success\",\n  \"message\": \"Doanh thu bình thường, không phát hiện rủi ro\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [912, 224],
      "id": "3007a81c-60ba-4978-b17c-565a82e1f476",
      "name": "Insert Healthy Log"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Revenue Comparison", "type": "main", "index": 0 }]]
    },
    "Get Revenue Comparison": {
      "main": [[{ "node": "Calculate Alert Level", "type": "main", "index": 0 }]]
    },
    "Calculate Alert Level": {
      "main": [[{ "node": "Alert Level != normal", "type": "main", "index": 0 }]]
    },
    "Alert Level != normal": {
      "main": [
        [{ "node": "Check Existing Open Alert", "type": "main", "index": 0 }],
        [{ "node": "Insert Healthy Log", "type": "main", "index": 0 }]
      ]
    },
    "Check Existing Open Alert": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [
        [{ "node": "Update Existing Alert", "type": "main", "index": 0 }],
        [{ "node": "Create New Alert", "type": "main", "index": 0 }]
      ]
    },
    "Update Existing Alert": {
      "main": [[{ "node": "Send an Email", "type": "main", "index": 0 }]]
    },
    "Create New Alert": {
      "main": [[{ "node": "Send an Email", "type": "main", "index": 0 }]]
    },
    "Send an Email": {
      "main": [[{ "node": "Insert Risk Log", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e6b3d4bd-d611-4a95-ad69-cb8dad39ec07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a6bfee5e350f964abf885434ff2da90f66666f3f239705b6ef882b3f56712fe"
  },
  "id": "3jJKqliP2F4NpfSy",
  "tags": []
}
